{% extends 'headerAdmin.html.twig' %}
{% block body %}
<div class="container">
<div class="header-control">
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                <span>{{ flash_message }}</span>
                <i class="fa-solid fa-xmark" onclick="this.parentElement.style.display='none';"></i>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">
                <span>{{ flash_message }}</span>
                <i class="fa-solid fa-xmark" onclick="this.parentElement.style.display='none';"></i>
                </div>
            {% endfor %}
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Total Product</th>
      <th scope="col">Menu</th>
    </tr>
  </thead>
  <tbody>
  
    {% for brand in brands %}
    {% set count = 0 %}
    <tr>
      <td>{{brand.id}}</td>
      <td><img src="{{ asset('imageAdmin/imgBrand/'~ brand.image) }}" alt="" srcset="" width="100px" height="100px"></td>
      <td>{{brand.name}}</td>
      {% for product in brand.products %}
            {% set count = count + 1 %}
      {% endfor %}
      <td>{{count}}</td>
      <td>
        <a href="{{path('app_edit_brand', {'id': brand.id })}}}}"><i class="fa-regular fa-pen-to-square icon-product"></i></a>
        <a href="{{path('app_delete_brand', {'id': brand.id })}}}}" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa-solid fa-trash icon-product"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form action="{{ path ('app_edit_brand', {'id': brand.id })}}"  method="post">
<div class="container">
    Brand Name
    <input type="text" name='brandName' placeholder='Add Category Name' required value="{{brand.name}}" >
        <input
                type="file"
                name="imageBrand"
                accept="image/jpg, image/jpeg, image/png, image/webp"
                class="box-input"
                required
              />
    <input type="submit" value="Update">
</div>
</form>
</div>

{% endblock %}

