{% extends 'headerAdmin.html.twig' %}
{% block body %}
<div class="container">
<div class="header-control">
    
</div>
<div class="order-control">
    <a href="#">All Order</a>
    <a href="#">Waiting</a>
    <a href="#">Completed</a>
    <a href="">Canceled</a>
    <input type="text" placeholder="Search something">
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Created</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col">Menu</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    {% set total = 0 %}
    <tr>
      <td>{{order.id}}</td>
      <td>
      
      {{order.date|date('Y-m-d')}}
      
      </td>
      {% for orderDetail in order.orderDetails %}
        {% set total = total +  orderDetail.productid.price * orderDetail.quantity %}
      {% endfor %}
      <td>
        {% for user in users %}
          {% if order.cusid == user.userid %}
            {{user.name}}
            {% set break = true %}
          {% endif %}
        {% endfor %}
      </td>
      <td>{{order.paymentmethod}}</td>
      <td>{{total}} VND</td>
      <td>{{order.status}}</td>
      <td>
        <a href="{{path('app_edit_order', {'id': order.id })}}}}"><i class="fa-regular fa-pen-to-square icon-product"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
