{% form_theme formOrder 'bootstrap_5_layout.html.twig'%}
{% extends 'userBase.html.twig' %}
{% block body %}
<div class="col-2"></div>
<div class="col-8  mt-4 mb-4 " >
    <div class="col-5 card px-5 rouned-5" >

    <h1 class="text-center mb-5 mt-3">Payment From</h1>
    <input type="hidden" id="custId" name="custId" value="{{user.id}}">
	{{ form_start (formOrder) }}
    <div class="mb3">
    <span>Paymentmethod</span>
		<select name="paymentmethod" required>
			<option value="Payment By Cash">Payment By Cash</option>
            <option value="Payment By Card ID">Payment By Card ID</option>
		</select>
    </div>
    <div class="mb3">
    <span>Paymentmethod</span>
		<select name="transportation" required>
			<option value="Standard">Standard: 3 - 7 days</option>
            <option value="Express">Express: 1 - 2 days</option>
		</select>
    </div>
    <input type="text" disabled value="{{ "now"|date("Y-m-d") }}" name="date">
	{{ form_widget (formOrder) }}

	{{ form_end (formOrder) }}
</div>
</div>







{% endblock %}