{% extends 'userBase.html.twig' %}



{% block body %}
<div class="col-center col-lg-10 ">				
		        <div class="row">

                                    
                    {% for product in products %}
                        <div class="col-2 mt-2 mb-3 " >
                            
                           
                                <div class="card" style="width: 200px;height:338px; background-color:white">
                                     <a href="{{path('app_view_product', {'id': product.id })}}}}">
                                     <img src="{{asset('imageAdmin/imgProduct/'~ product.image1)}}" class="card-img-top" alt="..." width='200' height='200'>
                                     </a>
                                    
                                    <div class="card-body"  style="width: 138px;height:176px ">
                                    <div style="font-size:14px;width: 176px;height:32px; display:box"> 
                                    <h5 class="" >{{product.name}}</h5>
                                    </div>
                                    <div  style="color:#ff424e ; font-size:28px">{{product.price}}đ</div>
                                    <div  style="font-size:12px;height:32px">{{product.description}}đ</div>
                                   
                                    {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
                                </div>
                        </div>
                            
                        </div> 

                    {% endfor %}
                </div>        		               
</div>    


 
{% endblock %}
