{% extends 'headerAdmin.html.twig' %}
{% block body %}
<div class="container">
<div class="header-control">
</div>
<div class="wrapCategoryContent">
  <div class="wrapCategoryTable">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Total Product</th>
        <th scope="col">Menu</th>
      </tr>
    </thead>
    <tbody>
    
      {% for category in categories %}
      {% set count = 0 %}
      <tr>
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        {% for product in category.products %}
              {% set count = count + 1 %}
        {% endfor %}
        <td>{{count}}</td>
        <td>
          <a href="{{path('app_edit_category', {'id': category.id })}}}}"><i class="fa-regular fa-pen-to-square icon-product"></i></a>
          <a href="{{path('app_delete_category', {'id': category.id })}}}}" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa-solid fa-trash icon-product"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
 <div class="wrapCategoryForm">
    <form action="{{ path ('app_edit_category', {'id': category.id })}}"  method="post">
    <div class="container">
        Category Name
        <input type="text" name='categoryName' placeholder='Add Category Name' required value="{{category.name}}" >
        <input type="submit" value="Add">
    </div>
    </form>
 </div>
</div>




</div>

{% endblock %}

