
{% extends 'userBase.html.twig' %}
{% block body %}
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                <span>{{ flash_message }}</span>
                <i class="fa-solid fa-xmark" onclick="this.parentElement.style.display='none';"></i>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">
                <span>{{ flash_message }}</span>
                <i class="fa-solid fa-xmark" onclick="this.parentElement.style.display='none';"></i>
                </div>
            {% endfor %}
        <div class="container mt-3 mb-5  col-10 wrapProductDetail ">
                <div class="row  ">
                       
                        <div class="col-5   ">
                                <div class="" >
                                        <img
                                        src="{{asset('imageAdmin/imgProduct/'~ product.image1)}}"
                                        class="img-fluid rounded-3" alt="" style="width:450px;height:433px">
                                        </div>
                                <div class="row d-flex justify-content-start" style="width:495px">
                                        <div class="col" >
                                                <img
                                                src="{{asset('imageAdmin/imgProduct/'~ product.image1)}}"
                                                class="img-fluid rounded-3 mt-2" alt="Cotton T-shirt" style="width:120px;height:120px">
                                        </div>                                        
                                        <div class="col" >
                                                <img
                                                src="{{asset('imageAdmin/imgProduct/'~ product.image2)}}"
                                                class="img-fluid rounded-3 mt-2" alt="Cotton T-shirt" style="width:120px;height:120px">
                                        </div>                                        
                                        <div class="col" >
                                                <img
                                                src="{{asset('imageAdmin/imgProduct/'~ product.image3)}}"
                                                class="img-fluid rounded-3 mt-2" alt="Cotton T-shirt" style="width:120px;height:120px">
                                        </div>
                                        
                                </div>
                        </div>

                        <div class="col-5 rounded-10  ">
                                <div class="card mb-4">
                                        <h1 class="mt-5 mb-3 ms-5" style=" font-size:24px; margin:0px 0px 0px 4px">{{product.name}}</h1>
                                        <h1 class="mt-2 mb-3 ms-5" style="color:#ff424e ; font-size:36px; margin:0px 0px 0px 4px">{{product.price}}.000đ</h1>
                                        <h2 class="mt-2 mb-3 ms-5" style="font-size:36px; margin:0px 0px 0px 4px">{{product.brandid.name}}</h2>
                                        <h2 class="mt-2 mb-5 ms-5" style="font-size:16px; margin:0px 0px 0px 4px">{{product.description}}</h2>
                                </div> 
                                
                                <form action="{{path('add_cart_product')}}" method="post">
                                        <input type="text" hidden value="{{product.id}}" name="pid">
                                        <input type="number" value="1" name="quantity">
                                        <input type="submit" value="Add to cart" sytle="display: block;">
                                </form>
                               
                        </div>

                </div>
        </div>        
   
{% endblock %}