{% extends 'userBase.html.twig' %}
{% block title %}User Information{% endblock %}


{% block body %}
<section style="background-color: #eee;">
 

    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.email}}</h5>
            {# <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> #}
            <div class="d-flex justify-content-center mb-2">
              {# <p>{{user.userDetail.id}}</p> #}
              {# {% if user.userDetail.name == null %} #}
                 <a href="{{path('app_edit_user',{'id':user.id})}}"><button type="button" class="btn btn-primary">Edit</button></a>
              {# {% endif %} #}

             
              {# <button type="button" class="btn btn-outline-primary ms-1">Message</button> #}
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">

                           {# {% set usernames = user.email | split("@") %}
                           
                              <p class="text-muted mb-0">{{usernames[0]}}</p> #}
                <p class="text-muted mb-0">{{user.userDetail.name}}</p>
                           
                
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date of Birth</p>
              </div>
              <div class="col-sm-9">
              {#  #}
                {# <p class="text-muted mb-0"> 22-12-2002</p> #}
                <p class="text-muted mb-0"> {{user.userDetail.dob | date('Y/m/d')}}</p>
              </div>
            </div>
          
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                {# <p class="text-muted mb-0">Ha Noi</p> #}
                <p class="text-muted mb-0">{{user.userDetail.address}}</p>
              </div>
            </div>
                                     
            </div>
         </div>
          <form action="{{ path ('user_view_order')}}" method="post">
          <input type="text" name='uid' placeholder='Add Category Name' required sytle="display: block;" hidden value="{{user.id}}">
          <input type="submit" value="My Order" sytle="display: block;">
          </form>
        </div>
       
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
