{% extends 'userBase.html.twig' %}
{% block title %}User Information{% endblock %}


{% block body %}
<div>{{user.email}}</div>
<div>{{user.email}}</div>
<div>{{user.email}}</div>
<div>{{user.email}}</div>
<div>{{user.email}}</div>
<div>{{user.email}}</div>



{% endblock %}
